.SortOptions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
    margin-block-end: 1rem;

    p {
        margin-block: 0;
    }

    .SortLabel {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
    }
}